.goal-item {
  margin: 1rem 0;
  background: #c9ada7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: #3a3a3a;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
}